doctype html
html
    head
        title Hints
        link(href='/pico.classless.min.css', rel='stylesheet')
    body
        header
            h1 Stuck? Here's a hint!
        main
            p #{hint}
            a(href='/') Go home?
            br
            a(href='/hint') Get another hint
