doctype html
html
    head
        title Secrets
        link(href='/pico.classless.min.css', rel='stylesheet')
    body
        header
            h1 Bob's Secrets
        main
            if isAdmin
                h2 pecan{that-was-bruteforcing-with-styles}
            else
                h2 This page is for Bob only! No unauthorized access >:c
