doctype html
html
    head
        title Thanks for submitting,
        link(href='/pico.classless.min.css', rel='stylesheet')
    body
        header
            h1 Thanks for submitting!
        main
            p Bob's taking a look at your submission now. If he likes it, he'll add it to the site!
            a(href='/') Go home?
